//
//  variables
//

// padding
$component_Footer_Padding_XXL: 90px 15px 100px 15px;
$component_Footer_Padding_XL: 90px 15px 100px 15px;
$component_Footer_Padding_LG: 90px 15px 100px 15px;
$component_Footer_Padding_MD: 90px 15px 90px 15px;
$component_Footer_Padding_SM: 90px 15px 90px 15px;
$component_Footer_Padding_XS: 90px 15px 90px 15px;
