/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
Dockerfile
Envoy.blade.php
.gitlab-ci.yml
.env.backup
.editorconfig
.env.preview
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
Session.vim
database/migrations/3023_06_01_104951_add_dummy_user_to_users_table.php
database/migrations/3023_06_02_102055_add_admin_role_with_permissions.php
database/migrations/3023_06_20_101346_add_organisator_role_with_permissions_and_add_permissions_to_admin_role.php
/.fleet
/.idea
/.vscode
**/.DS_Store
