//
// variables font root
//

//
// font families
//

// default font family
$fontFamily-Book: "OpenSans Regular", sans-serif;
$fontFamily-Medium: "OpenSans Semibold", sans-serif;
$fontFamily-Bold: "OpenSans Bold", sans-serif;

//font weight
$fontWeight-Book: 400;
$fontWeight-Medium: 600;
$fontWeight-Bold: 700;
