//
// variables icons root
//
//
$iconSize-001: 1.125rem; /* 18px */
$iconSize-002: 1.375rem; /* 22px */
$iconSize-003: 1.5rem; /* 24px */
$iconSize-004: 1.75rem; /* 28px */
$iconSize-005: 1.875rem; /* 30px */
$iconSize-006: 2.5rem; /* 40px */
$iconSize-007 :  5rem; /* 80px */

