//
// variables color root
//

// standard colors
$colorBlack: #000000;
$colorWhite: #ffffff;

// ci-colors
$colorKirsche: #B00E0E;
$colorJohannisbeere: #B60000;
$colorBlattgruen: #226600;
$colorMitternacht: #2E5E72;
$colorKomplementaer: #2E5E74;
$colorKomplementaerBright: #5EB9BB;
$colorOutline: #7D93A1;

// text colors
$colorSchiefer: #383838;
$colorGrau: #5A5A5A;
// bg colors
$colorDunkelgrau: #404040;
$colorGrau: #CBCBCB;
$colorHellgrau: #E1E1E1;
$colorSilber: #F4F4F4;

// default component colors
$cologBG: $colorSilber;
$colorText: $colorSchiefer;

