//
// variables font root
//

//
// sizes
//

// html responsive root
$fontSize-HTML-XXL: 100%;
$fontSize-HTML-XL: 100%;
$fontSize-HTML-LG: 100%;
$fontSize-HTML-MD: 100%;
$fontSize-HTML-SM: 100%;
$fontSize-HTML-XS: 100%;

//
// Font Size
//
$fontSize-001: 1.25rem; // 20px
$fontSize-002: 1.40625rem; // 22.5px
$fontSize-003: 1.5rem; // 24px
$fontSize-004: 1.625rem; // 26px
$fontSize-005: 1.75rem; // 28px
$fontSize-006: 1.875rem; // 30px
$fontSize-007: 2.125rem; // 34px

//
// Line Height
//
$line-height-multiplikator-default: 1.6;
$line-height-multiplikator-singlerow: 1.2;
