//
//  variables
//

//
//  flex attributes
//
// direction
$layout_All_Layouts_Flex_Direction_XXL: column;
$layout_All_Layouts_Flex_Direction_XL: column;
$layout_All_Layouts_Flex_Direction_LG: column;
$layout_All_Layouts_Flex_Direction_MD: column;
$layout_All_Layouts_Flex_Direction_SM: column;
$layout_All_Layouts_Flex_Direction_XS: column;

//
//  height attributes
//
// height
$layout_All_Layouts_Height_XXL: 100%;
$layout_All_Layouts_Height_XL: 100%;
$layout_All_Layouts_Height_LG: 100%;
$layout_All_Layouts_Height_MD: 100%;
$layout_All_Layouts_Height_SM: 100%;
$layout_All_Layouts_Height_XS: 100%;

// min_height
$layout_All_Layouts_MinHeight_XXL: 100vh;
$layout_All_Layouts_MinHeight_XL: 100vh;
$layout_All_Layouts_MinHeight_LG: 100vh;
$layout_All_Layouts_MinHeight_MD: 100vh;
$layout_All_Layouts_MinHeight_SM: 100vh;
$layout_All_Layouts_MinHeight_XS: 100vh;

// max_height
$layout_All_Layouts_MaxHeight_XXL: auto;
$layout_All_Layouts_MaxHeight_XL: auto;
$layout_All_Layouts_MaxHeight_LG: auto;
$layout_All_Layouts_MaxHeight_MD: auto;
$layout_All_Layouts_MaxHeight_SM: auto;
$layout_All_Layouts_MaxHeight_XS: auto;

//
//  margin and padding attributes
//
// padding
$layout_All_Layouts_Padding_XXL: 0px 0px 0px 0px;
$layout_All_Layouts_Padding_XL: 0px 0px 0px 0px;
$layout_All_Layouts_Padding_LG: 0px 0px 0px 0px;
$layout_All_Layouts_Padding_MD: 0px 0px 0px 0px;
$layout_All_Layouts_Padding_SM: 0px 0px 0px 0px;
$layout_All_Layouts_Padding_XS: 0px 0px 0px 0px;

// margin
$layout_All_Layouts_Margin_XXL: 0px 0px 0px 0px;
$layout_All_Layouts_Margin_XL: 0px 0px 0px 0px;
$layout_All_Layouts_Margin_LG: 0px 0px 0px 0px;
$layout_All_Layouts_Margin_MD: 0px 0px 0px 0px;
$layout_All_Layouts_Margin_SM: 0px 0px 0px 0px;
$layout_All_Layouts_Margin_XS: 0px 0px 0px 0px;
