//
//  variables
//

// time
$animateBurgerMenue:120ms;

// height
$component_Burgermenue_Height_XXL: 21px;
$component_Burgermenue_Height_XL: 21px;
$component_Burgermenue_Height_LG: 21px;
$component_Burgermenue_Height_MD: 21px;
$component_Burgermenue_Height_SM: 16px;
$component_Burgermenue_Height_XS: 16px;

// width
$component_Burgermenue_Width_XXL: 30px;
$component_Burgermenue_Width_XL: 30px;
$component_Burgermenue_Width_LG: 30px;
$component_Burgermenue_Width_MD: 30px;
$component_Burgermenue_Width_SM: 24px;
$component_Burgermenue_Width_XS: 24px;

