//
//  variables
//

// height wizward
$area_Header_Height_XXL: 150px;
$area_Header_Height_XL: 150px;
$area_Header_Height_LG: 150px;
$area_Header_Height_MD: auto;
$area_Header_Height_SM: auto;
$area_Header_Height_XS: auto;

// height backend
$area_Header_backend_Height_XXL: 150px;
$area_Header_backend_Height_XL: 150px;
$area_Header_backend_Height_LG: 150px;
$area_Header_backend_Height_MD: 70px;
$area_Header_backend_Height_SM: 70px;
$area_Header_backend_Height_XS: 70px;
