//
//  variables
//

// padding
$component_Formcontrols_Padding_XXL: 60px 15px 60px 15px;
$component_Formcontrols_Padding_XL: 60px 15px 60px 15px;
$component_Formcontrols_Padding_LG: 60px 15px 60px 15px;
$component_Formcontrols_Padding_MD: 30px 15px 30px 15px;
$component_Formcontrols_Padding_SM: 30px 15px 30px 15px;
$component_Formcontrols_Padding_XS: 30px 15px 30px 15px;
