//
//  variables
//
// padding
$component_Header_Padding_XL: 0px 15px 0px 15px;
$component_Header_Padding_LG: 0px 15px 0px 15px;
$component_Header_Padding_MD: 0px 15px 0px 15px;
$component_Header_Padding_SM: 0px 15px 0px 15px;
$component_Header_Padding_XS: 0px 15px 0px 15px;
