//
//  variables
//

// padding
$component_Progressbox_Padding_XXL: 50px 0px 50px 0px;
$component_Progressbox_Padding_XL: 50px 0px 50px 0px;
$component_Progressbox_Padding_LG: 50px 0px 50px 0px;
$component_Progressbox_Padding_MD: 30px 15px 30px 15px;
$component_Progressbox_Padding_SM: 30px 15px 30px 15px;
$component_Progressbox_Padding_XS: 30px 15px 30px 15px;
